.truncate {
    width: 150px; 
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis; 
}

.book-image:hover{
    cursor: pointer;
}

.card{
    width: 100%;
    margin-top: 20px;
}


.book-image-modal{
    display: flex;
}